# ARQUIVO DE CONFIGURAÇÃO DE AMBIENTE (.env)
# by: richwrd

# ═══════════════════════════════════════════════════════════════════
# 🛡️ ➔ WIREGUARD SERVER
# ═══════════════════════════════════════════════════════════════════

# Chave Pública do Servidor WireGuard
WG_SERVER_PUBLIC_KEY={CHAVE-PUBLICA-DO-SERVIDOR}

# Endereço IP da Interface WireGuard
WG_INTERFACE_ADDRESS=10.10.10.1/32

# Endereço IP/Porta do Servidor WireGuard
WG_SERVER_ENDPOINT=192.168.100.1:51820


# ═══════════════════════════════════════════════════════════════════
# Pasta para salvar os arquivos de configuração do WireGuard gerados
FOLDER_PREFIX=cliente
# ═══════════════════════════════════════════════════════════════════