# ARQUIVO DE CONFIGURAÇÃO DE AMBIENTE (.env)
# by: richwrd

# ═══════════════════════════════════════════════════════════════════
# 🛡️➔ AUTENTICAÇÃO ◉➔ Usuário principal (superuser) do PostgreSQL
# ═══════════════════════════════════════════════════════════════════

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

# ═══════════════════════════════════════════════════════════════════
# 📦 ➔ DATABASE ◉➔ Nome do banco de dados a ser criado
# ═══════════════════════════════════════════════════════════════════

POSTGRES_DB="postgres"

# ═══════════════════════════════════════════════════════════════════
# ⚙️ ➔ CONFIGURAÇÕES ADICIONAIS
# ═══════════════════════════════════════════════════════════════════

# 🕰️ ➔ Fuso horário
TZ="America/Sao_Paulo"
PGTZ="America/Sao_Paulo"

# 🛠️ ➔ Nome do container e Hostname
POSTGRES_CONTAINER_NAME="postgres"
POSTGRES_HOSTNAME="postgres"

# 📂 ➔ Caminho local para os dados do PostgreSQL
POSTGRES_DATA_DIR="/mnt/data"

# 🛜 ➔ Nome da Rede Docker
NETWORK_NAME="postgres_network"
